@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: 'Roboto';
    background-color: #FAFAFA;
}
.topo {
    width: 100%;
    height: 70px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: hidden;
}
.topo > p {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 5;
}
.tela {
    margin-top: 70px;
    width: 100%;
}

/* Começo da tela 1 */

.tela1 {
    width: 1050px;
    height: 100%;
    margin: auto;
}
.seuMenu {
    margin-bottom: 75px;
    margin-top: 145px;
}
.seuQuizz {
    width: 100%;
    min-height: 180px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.seuQuizz > .semQuizz {
    width: 250px;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}
.seuQuizz > .btCriar {
    width: 151px;
    height: 40px;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    cursor: pointer;
}
.miniTitulo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;   
    line-height: 23px;
    margin-bottom: 10px;
}
.miniTitulo ion-icon{
    margin-left: 10px;
    font-size: 30px;
    color: #EC362D;
    cursor: pointer;
}
.galeriaQuizz{
    width: 1065px;
    display: flex;
    flex-wrap: wrap;
}
.galeriaQuizz img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}
.galeriaQuizz > div {
    position: relative;
    margin-right: 15px;
    margin-bottom: 12px;
    width: 340px;
    height: 181px;
    cursor: pointer;
}
.galeriaQuizz > div > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    z-index: 1;
}
.galeriaQuizz > div > p{
    position: absolute;
    min-height: 54px;
    max-height: 80%;
    max-width: 90%;
    word-wrap: break-word;
    left: 18px;
    bottom: 10px;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    z-index: 2;
    overflow: hidden;
}

/* Começo da tela 2 */

.tela2 {
    width: 100%;
    height: 100%;
    margin: auto;
}
.capa {
    width: 100vw;
    height: 227px;
    margin-top: 70px;

    position: relative;
}
.imagem-capa {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.escurecido {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;

    position: absolute;
    top: 0;
    left: 0;
}
.titulo {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
    font-weight: 400;
    font-size: 39px;
    line-height: 227px;
    text-align: center;
    word-break: break-word;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
}
.conteudo-quizz {
    width: 759px;
    height: 100%;
    margin: 42px auto;
}
.pergunta {
    width: 100%;
    height: 100%;
    padding: 35px;
    margin-bottom: 44px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px #F4F4F4;
}
.texto-pergunta {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto-pergunta > p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 23px;
    line-height: 26.95px;
    text-align: center;
    word-break: break-word;
}
.respostas {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resposta {
    width: 329.91px;
    height: 213px;
    margin-bottom: 19px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
}
.nao-selecionada {
    background-color: #FFFFFF;
    opacity: 30%;
}
.imagem-resposta {
    width: 100%;
    height: 175.2px;
    margin-bottom: 7.75px;
    object-fit: cover;
}
.texto-resposta {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    word-break: break-word;
}
.correta {
    color: #009C22;
}
.errada {
    color: #FF4B4B;
}
.resultado {
    width: 100%;
    height: 100%;
    padding: 18px;
    margin-bottom: 57px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px #F4F4F4;
}
.nivel {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 18px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nivel > p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 23px;
    line-height: 22.27px;
    text-align: center;
    word-break: break-word;
}
.descricao-nivel {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.imagem-nivel {
    width: 364px;
    height: 273px;
    object-fit: cover;
}
.texto-nivel {
    width: 340px;

    color: #484848;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    word-break: break-word;
}
.reiniciar-quizz {
    max-width: 260px;
    height: 52px;
    margin: 0px auto 20px auto;
    border-radius: 15px;
    background-color: #EC362D;
    cursor: pointer;

    color: #FFF5F4;
    font-weight: 400;
    font-size: 21px;
    line-height: 52px;
    text-align: center;
}
.voltar-home {
    margin: 0px auto 30px auto;
    cursor: pointer;

    color: #818181;
    font-weight: 400;
    font-size: 19px;
    line-height: 24.61px;
    text-align: center;
}

/* Começo da tela 3 */

.tela3 {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.criacaoTitulo {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 30px;
}
.criacaoMiniTitulo {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    width: 100%;
    display: flex;
    margin: 5px;
}
.criacaoForm {
    width: 600px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;

}
.criacaoForm input{
    width: 100%;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 21px;
    line-height: 25px;
}
.criacaoForm input::placeholder {
    font-style: italic;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    padding: 20px;
}
.erro {
    display: flex;
    font-size: 16px;
    line-height: 19px;
    color: #EC362D;
    margin-left: 5px;
}
.exp {
    display: flex;
    justify-content: space-between;
}
.exp img {
    width: 25px;
    height: 25px;
}
.criacaoBt {
    width: 360px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    cursor: pointer;
    margin: 55px 0;
}

.surdina {
    display: none;
}

/*Começo da tela 3.4*/
.conteudo-sucesso {
    width: 500px;
    margin: 135px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-sucesso > p {
    font-weight: 700;
    font-size: 23px;
    line-height: 26.95px;
    margin-bottom: 46px;
}
.capa-sucesso {
    width: 100%;
    height: 266px;
    margin-bottom: 45px;
    position: relative;
    cursor: pointer;
}
.capa-sucesso > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.capa-sucesso > p {
    position: absolute;
    height: 54px;
    left: 18px;
    bottom: 10px;

    color: #FFFFFF;
    font-weight: 400;
    font-size: 23px;
    line-height: 26.95px;

    display: flex;
    align-items: center;
    z-index: 2;
    word-break: break-word;
}
.capa-sucesso > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    z-index: 1;
}
.acessar-quizz {
    width: 261.18px;
    height: 52px;
    margin: 0px auto 20px auto;
    border-radius: 15px;
    background-color: #EC362D;
    cursor: pointer;

    color: #FFF5F4;
    font-weight: 400;
    font-size: 21px;
    line-height: 52px;
    text-align: center;
}

/* Responsividade */

@media (max-width: 1100px) {
/*Tela1*/

.seuMenu {
    margin-top: 85px;
    margin-bottom: 25px;
}
.tela1 {
    width: 90%; 
}
.galeriaQuizz {
    width: 100%;
}
.galeriaQuizz > div {
    width: 100%;
    margin-right: 0px;
}
.seuQuizz {
    width: 100%;
}
.galeriaQuizz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.miniTitulo {
    justify-content: space-between;
} 

/*Tela 2*/
.capa {
    height: 142px;
}
.titulo {
    font-size: 19px;
    line-height: 142px;
}
.conteudo-quizz {
    width: 100%;
}
.pergunta {
    padding: 18px;
    margin-bottom: 28px;
}
.texto-pergunta > p {
    font-size: 19px;
    line-height: 22.27px;
}
.resposta {
    width: 47%;
    height: 160px;
    margin-bottom: 12px;
}
.imagem-resposta {
    height: 120px;
    margin-bottom: 5px;
}
.texto-resposta {
    font-size: 13px;
    line-height: 15.23px;
}
.resultado {
    margin-bottom: 34px;
}
.nivel {
    word-wrap: break-word;
    height: 100%;
    font-size: 19px;
}
.descricao-nivel {
    flex-direction: column;
}
.imagem-nivel {
    width: 100%;
    height: auto;
    margin-bottom: 9px;
}
.reiniciar-quizz {
    max-width: 220px;
}

/*Tela 3*/

.tela3 {
    margin-top: 106px;
}
.criacaoTitulo {
    font-size: 20px;
    line-height: 23.44px;
}
.criacaoForm {
    width: 100%;
    padding: 15px;
}
.criacaoBt {
    width: 325px;
    font-size: 18px;
}

/*Tela 3.4*/

.conteudo-sucesso {
    width: 90%;
    margin: 108px auto 38px auto;
}
.capa-sucesso {
    margin-bottom: 24px;
}
.acessar-quizz {
    width: 221px;
    height: 44px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 44px;
}
.voltar-home {
    font-size: 18px;
}
}